
.nav-link {
  padding-top: 12px !important;
}

.btn-default:focus {
  box-shadow: none !important;
}


.panel-parameters {
  background:#fff;
  padding: 90px 15px 15px 15px;
  box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
  width:350px;
}


/* Map styles */
.map-container {
  position: fixed;
  top: 65px;
  left: 350px;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
}

.leaflet-container {
  background: #FFF; /* CEE3F6  */
}

div.info.legend.leaflet-control br {
  clear: both;
}

.leaflet-top.leaflet-left {
  margin-right: 50px;
}

/* Panneau carte */
.map-panel {
  border-radius: 3px;
  background-color: white;
  padding: 10px;
  opacity: 0.7;
  transition: opacity 100ms 500ms;
}
.map-panel:hover {
  opacity: 1;
  transition-delay: 0;
}




/* Navbar */
.navbar {
  z-index: 1030;
}


/*#navbar > .nav-item:first-child {
  display: none !important;
}*/

/* Logo AFD */
.logo-afd {
  width: 5rem;
}


/* SURLIGNAGE JAUNE */
mark {
  background-color: yellow !important;
  color: black;
}


.vscomp-dropbox-container {
  z-index: 15 !important;
}
